{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-prototype-builtins": "off",
    "object-curly-newline": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}